    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Helvetica, sans-serif;
    }
    
    body {
        background-color: #f5f5f5;
    }
    
    .container {
        max-width: 480px;
        margin: 0 auto;
        background-color: white;
        height: 100vh;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

    .custom {
        background-color: #00A9AC;
        color: white;
        font-weight: 500;
        transition: background-color 0.05s;
    }
    .custom:hover {
        background-color: #06929a; 
    }
    .custom-1 {
        background-color: #00A9AC;
        font-weight: 700;
        color: white;
    }
    .custom-2 {
        background-color: #FCBF49;
    }